.Main {
    width: 100%;
    height: 790px;
}

.ItsFree {
    width: 100%;
    height: 194px;
    padding: 80px;
    display: flex;
    justify-content: center;
}

.ItsFree>div {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ItsFree>div>strong {
    font-weight: 600;
    font-size: 48px;
    line-height: 52.8px;
}

.ItsFree>div>button {
    width: 211px;
    height: 55px;
    border-radius: 48px;
    font-size: 16px;
    border: none;
    background-color: #000000;
    color: white;
}

.Customize {
    width: 100%;
    height: 596px;
    display: flex;
    justify-content: center;
}

.Customize>div {
    width: 90%;
    height: 511px;
    border: 2px solid #CBCED2;
    border-radius: 44px;
    position: relative;
    overflow: hidden;
}

.Customize>div>h2 {
    max-width: 821px;
    height: 140px;
    font-size: 48px;
    line-height: 52.8px;
    font-weight: 600;
    position: absolute;
    top: 80px;
    left: 80px;
    color: #1C1B1F;
}

.Customize>div>p {
    max-width: 821px;
    height: 43px;
    font-size: 24px;
    line-height: 26.4px;
    font-weight: 500;
    position: absolute;
    top: 260px;
    left: 80px;
    color: #1C1B1F;
    opacity: 50%;
}

.Customize>div>button {
    width: 202px;
    height: 55px;
    border-radius: 48px;
    border: 2px solid #CBCED2;
    font-size: 16px;
    line-height: 17.6px;
    font-weight: 600;
    position: absolute;
    top: 376px;
    left: 80px;
    color: #1C1B1F;
    background-color: transparent;
}

.bcImg {
    width: auto;
    height: auto;
    position: absolute;
    z-index: -1;
    right: -200px;
}

.bcImg>div {
    margin-top: 20px;
    transform: translateY(76%) rotate(-23deg);
}


@media screen and (max-width: 1358px) {

    .Customize>div>p {
        max-width: 521px;
        height: 43px;
        font-size: 20px;
        line-height: 26.4px;
        font-weight: 500;
        position: absolute;
        top: 260px;
        left: 80px;
        color: #1C1B1F;
        opacity: 50%;
    }

    .bcImg {
        width: auto;
        height: auto;
        position: absolute;
        z-index: -1;
        right: -240px;
    }

    .bcImg>div {
        margin-top: 20px;
        transform: translateY(92%) rotate(-23deg);
    }
}

@media screen and (max-width: 1058px) {
    .Customize>div>h2 {
        font-size: 42px;
    }

    .bcImg {
        width: auto;
        height: auto;
        position: absolute;
        z-index: -1;
        right: -200px;
    }

    .bcImg>div {
        margin-top: 20px;
        transform: translateY(132%) rotate(-23deg);
    }
}

@media screen and (max-width: 786px) {

    .Main {
        width: 100%;
        height: 670px;
    }

    .ItsFree {
        width: 100%;
        height: 194px;
        padding: 80px;
        display: flex;
        justify-content: center;
    }

    .ItsFree>div {
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: space-between;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .ItsFree>div>strong {
        font-weight: 600;
        font-size: 38px;
        line-height: 52.8px;
    }

    .Customize>div>h2 {
        font-size: 33px;
        line-height: 40px;
    }
    .Customize>div>p {
        font-size: 20px;
        top: 240px;
    }
    .Customize>div>button {
        font-size: 20px;
        top: 325px;
    }

    .bcImg {
        width: auto;
        height: auto;
        position: absolute;
        z-index: -1;
        right: -200px;
    }

    .bcImg>div {
        margin-top: 20px;
        transform: translateY(142%) rotate(-23deg);
    }

}

@media screen and (max-width: 550px) {
    .Main {
        width: 100%;
        height: 600px;
    }

    .ItsFree {
        width: 100%;
        height: 87px !important;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ItsFree>div {
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .ItsFree>div>strong {
        font-weight: 600;
        font-size: 24px;
        line-height: 26.4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ItsFree>div>button {
        display: none;
    }


    .Customize {
        width: 100%;
        height: 477px;
        display: flex;
        justify-content: center;
    }

    .Customize>div {
        width: 100%;
        height: 100%;
        border: 2px solid #CBCED2;
        border-radius: 44px;
        position: relative;
        overflow: hidden;
    }

    .Customize>div>h2 {
        max-width: 328px;
        max-height: 120px;
        font-size: 27px;
        position: absolute;
        font-weight: 600;
        top: 30px;
        left: 30px;
        line-height: 33px;
        color: #1C1B1F;
    }

    .Customize>div>p {
        max-width: 328px;
        max-height: 55px;
        font-size: 14px;
        line-height: 15.4px;
        font-weight: 500;
        position: absolute;
        top: 190px;
        left: 30px;
        color: #1C1B1F;
        opacity: 50%;
    }

    .Customize>div>button {
        width: 202px;
        height: 49px;
        border-radius: 40px;
        border: 2px solid #CBCED2;
        font-size: 16px;
        line-height: 17.6px;
        font-weight: 600;
        position: absolute;
        top: 265px;
        left: 30px;
        color: #1C1B1F;
        background-color: transparent;
    }

    .bcImg {
        width: auto;
        height: auto;
        position: absolute;
        z-index: -1;
        top: 130px;
        left: -150px;
    }

    .bcImg>div {
        margin-top: 20px;
        transform: translateY(76%) rotate(-23deg);
    }
}