.Title {
    width: 100%;
    justify-content: center;
    display: flex;
    
}
.Title>h1 {
    padding: 75px 0;
    color: #1C1B1F;
    font-weight: 600;
    font-size: 48px;
}
.DownContainer{
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 72px;
}
.LeftContainer{
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.Image{
    max-width: 100%;
}