.MainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 127px;
    width: 100%;
}

.LogoContainer {
    display: flex;
    align-items: center;
}

.LogoContainer img {
    width: 47px;
    height: 47px;
}

.LogoContainer h1 {
    font-family: Urbanist;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    padding: 15px;
}

.ButtonContainer button {
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    padding: 18px 24px;
    border-radius: 23px;
    border: none;
    gap: 12px;
}

.LogInButton {
    color: #ffff;
    background-color: #000000;
}

.RegisterButton {
    color: #1C1B1F;
    background-color: #ffff !important;
}