.MainContainer {
    display: flex;
    background-color: #DA1C5C;
    color: #FFFFFF;
    height: 36px;
    width: 100%;
    align-items: center;
}

.CenterTitle {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    font-weight: 400;
}

.CloseIcon {
    margin-left: auto; /* Push the icon to the right */
}

.CloseIcon svg {
    stroke: #FFFFFF;
    stroke-width: 1;
    font-size: 16px !important;
}

.Space {
    min-width: 71px;
    height: 10px;
}
.LeftContainer {
    display: flex;
}
.RightContainer{
    display: flex;
}