.NotFoundMain{
    background-color: #000000;
    background-image: url('../../../Images/Frame 6210.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.statusCode{
    font-size: min(10vw, 130px); 
    color: white;
}

.goBack{
    margin-top: 20px;
}

.goBack > button{
    width: 80%; 
    max-width: 260px;
    height: 50px; 
    border-radius: 65px; 
    border: 1px solid white;
    color: white;
    background-color: transparent;
    font-size: min(4vw, 20px); 
    text-align: center;
}
