.MainBtn {
    width: 204px;
    height: 76.5px;
    border-radius: 22.5px;
    border: 2.25px solid gray;
    transform: rotate(17.74°);
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainBtn>img {
    width: 28.5px;
    height: 28.5px;
}

.MainBtn>p {
    min-width: 104px;
    height: 16px;
    top: 67.74px;
    left: 81.05px;
    font-weight: 600;
    line-height: 24.75px;
    font-size: 22.5px;
    margin-left: 14px;
    margin-right: -15px;
}

@media screen and (max-width: 1000px) {
    .MainBtn {
        width: 93px;
        height: 38.25px;
        border-radius: 11.25px;
        border: 1.13px solid gray;
        transform: rotate(17.74°);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .MainBtn>img {
        width: 14.25px;
        height: 14.25px;
    }

    .MainBtn>p {
        min-width: 43px;
        height: 8px;
        top: 30.97px;
        left: 41px;
        font-weight: 600;
        line-height: 12.38px;
        font-size: 12.25px;
        margin-left: 14px;
        margin-right: 8px;
    }

}