.MainContainer {
    width: 100%;
    height: max-content;
}

.Header {
    border-bottom: 1px solid rgba(203, 206, 210, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    flex-wrap: wrap;
    row-gap: 10px;
}

.Title {
    font-family: Urbanist;
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(28, 27, 31, 1);
}

.AddDomainButton {
    width: (189px);
    height: (58px);
    padding: 19.5px;
    border-radius: 252px;
    border: 1px;
    gap: 16px;
    border: 1px solid rgba(203, 206, 210, 1);
}

.PlusIcon {
    width: 11.08px;
    height: 11.08px;
    top: 23.46px;
    left: 23.46px;
}

.AddDomainButton {
    display: flex;
    gap: 19.6px;
    font-family: Urbanist;
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(28, 27, 31, 1);
    background-color: white;
}

.AddDomainButtonLarge {
    margin-top: 25px;
    font-family: Urbanist;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(28, 27, 31, 1);
    display: flex;
    align-items: center;
    background: rgba(203, 206, 210, 0.2);
    border-radius: 30px;
    gap: 25px;
    padding: 38px 25px;
}

.PlusIconLarge {
    width: 23.33px;
    height: 23.33px;
}

.DomainButton {
    padding: 19.5px 22px;
    border-radius: 106px;
    gap: 12px;
    border: 1px solid rgba(203, 206, 210, 1);
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-items: center;
    color: rgba(28, 27, 31, 0.5);
}

.TryPremiumButton {
    padding: 19.5px 22px;
    border-radius: 106px;
    border: 1px;
    gap: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(238, 190, 65, 1);
    border: 1px solid rgba(238, 190, 65, 0.4);
    background: rgba(238, 190, 65, 0.1);
}

.Banner {
    font-family: Urbanist;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(28, 27, 31, 1);
    padding: 25px 0;

}

.ButtonSection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.SeclectedButtons {
    height: max-content;
    max-width: 1035px;
    gap: 32px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 25px;
}

.CustomizeYourWidgetTitle {
    width: 100%;
    height: 67px;
}

.CustomizeYourWidgetTitle>h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 26.4px;
}


.CustomizeYourWidget {
    width: 100%;
    max-height: 2013px;
}

.CustomizeYourWidget_Up {
    width: 100%;
    height: 1100px;
}

.CustomizeYourWidget_Up_in {
    width: 277px;
    height: 1075px;
}

.Color {
    width: 142px;
    height: 85px;
}

.Color>p {
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
}

.colorBtn {
    width: 142px;
    height: 59px;
    border-radius: 252px;
    border: 1px solid rgba(203, 206, 210, 1);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.colorBtnDiv {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.ButtonImage {
    width: 261px;
    height: 85px;
    gap: 12px;
    margin-top: 30px;
}

.ButtonImageTitle {
    height: 26px;
    width: 100%;
    display: flex;
}

.ButtonImageTitle>p {
    font-weight: 500;
    line-height: 22px;
    font-size: 20px;
    color: black;
    margin-right: 13px;
}

.ButtonImagelabel {
    width: 100%;
    height: 59px;
    border-radius: 252px;
    border: 1px solid rgba(203, 206, 210, 1);
    padding: 20px;
    gap: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.5px;
    display: flex;
}


.ButtonStyle {
    width: 277px;
    height: 85px;
    gap: 12px;
    margin-top: 20px;
}

.ButtonStyle>p {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
}

.ButtonStyle>div {
    margin-top: 12px;
    width: 100%;
    height: 59px;
    display: flex;
    justify-content: space-between;
}

.btnStyleTip {
    width: 122px;
    height: 59px;
    border-radius: 252px;
    border: 1px solid rgba(203, 206, 210, 1);
    padding: 10px;
    gap: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 16.5px;
}

.btnStyleTip>label>input {
    border-radius: 50%;
    color: rgba(37, 211, 102, 1);
    background-color: rgba(37, 211, 102, 1);

}

.btnStyleTip>label>span{
    margin-left: 14px;
}

.btnSize{
    width: 100%;
    height: 59px;
    gap: 16px;
    border-radius: 252px;
    border: 1px solid rgba(203, 206, 210, 1);
    padding: 28.5px;
}






.CustomizeYourWidget_Down {
    width: 100%;
   max-height: 913px;
}

.GreetingMessage{
    width: 391px;
    height: 762px;
    gap: 25px;
}

.AgentName{
    width: 270px;
    height: 85px;
    gap: 12px;
    margin-top: 25px;
}

.AgentName>p{
    font-size: 22px;
    line-height: 20px;
    font-weight: 500;
    color: black;
}

.AgentName>input{
    margin-top: 12px;
    width: 100%;
    height: 59px;
    border-radius: 252px;
    border: 1px solid rgba(203, 206, 210, 1);
    padding: 24px;
    gap: 16px;
}

.SaveChanges{
    margin-top: 25px;
    width: 169px;
    height: 59px;
    border-radius: 252px;
    border: 1px solid rgba(203, 206, 210, 1);
    padding: 20px;
    gap: 16px;
    display: flex;
}






@media screen and (max-width:950px) {
    .SeclectedButtons {
        grid-template-columns: 100%;
        width: 100% !important;
    }

    .SeclectedButtons>div {
        width: 100% !important;
    }
}