.MainContainer{
    box-sizing: border-box;
    font-family:Arial;
    color: #1f1f1fb5
}

.Links{
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: #79dbae;
}

.MainContainer{
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.modalContent {
    background-color: #fefefe;
    padding: 20px;
    text-align: center;
    max-width: 600px;
}
.modalContent video {
    width: 150px;
    margin: auto;
}