.FreQuestionsMain {
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FreQuestions {
    width: 1296px;
    height: 464px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.FreQuestions_title {
    width: 50%;
    height: 100%;
}

.FreQuestions_title>div {
    width: 578px;
    height: 111px;
}

.FreQuestions_title>div>strong {
    color: #1C1B1F;
    font-size: 32px;
}
.Title{
    color: #1C1B1F;
    font-weight: 600;
    font-size: 48px;
}
.FreQuestions_question {
    width: 50%;
    height: 100%;
}
.AccordionWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; /* Set the width of the AccordionWrapper */
}
.Accordion{
    padding: 10px;
    border: 1px solid black;
    background-color: none;
}
.Accordion:hover{
    background-color: none;
}