.MainTitle {
    font-family: Urbanist;
    font-size: 32px;
    font-weight: 500;
    line-height: 35.2px;
    text-align: left;
    color: #1C1B1F;
}

.text {
    font-family: Urbanist;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;
    color: #1C1B1F;
}
.text2{
    font-family: Urbanist;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;
    color: #1C1B1F;
}

.TitleConatiner {
    padding: 25px 0;

}

.Main {
    padding: 10px 0;
}
.UnorderedList{
    margin: 0 30px ;
}
.text{
    padding: 0 20px;
}