.LeftContainer {
    display: flex;
    align-items: center;
}

.Title {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    padding: 15px;
}

.BannerLogo {
    width: 47px;
    height: 47px;
}

.MainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #F2F2F2;
    padding: 36px 0;
}
.RightsTitle {
    color: #1C1B1F;
    opacity: 70%;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    left: 15%;
    transform: translateX(-50%);
}

.RightsTitleRight {
    color: #1C1B1F;
    font-size: 15px;
}

.RightContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 36px;
    color: #1C1B1F;
}