.Title {
    padding: 50px 0;
}

.MainContainer {
    height: 100vh;
    width: 100%;
    background-color: #000000;

}

.Main {
    width: 100%;
}


.MainHeader {
    font-size: 48px;
    font-weight: 600;
    line-height: 53px;
    text-align: left;
    color: #FFFFFF;
}

.LoginButton {
    top: 344px;
    padding: 30px;
    border-radius: 25px;
    gap: 10px;
    background-color: #0D0D0D;
    border: none;
    width: 100%;
    font-family: Urbanist;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #777779;
}

.InputContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@keyframes anim-bg {
    0% {
        background-position: 0% 10%;
    }

    50% {
        background-position: 100% 20%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

.RightContainer {
    --s: 0px;
    transform-style: preserve-3d;

    &::after {
        content: "";
        position: absolute;
        inset: calc(-1*var(--s));
        background: conic-gradient(from var(--angle) at 50% 50%, #00ffff 0%, #00ABFF 25%, #aa41ff 55%, #e2ff41 75%, #00FF0B 100%);
        filter: blur(5rem);
        transform: translate3d(0px, 0px, -1px);
        border-radius: inherit;
        pointer-events: none;
        opacity: 0.35;
        transition: background-color 1s ease-in-out;
        animation: 5s rotate linear infinite;
    }
}

.RightContainer {
    position: relative;
    height: 803px;
    right: 0;
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;
    border: 3px solid #2B2D30;
    background-color: #2B2D30;
}

.Image {
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

@media screen and (max-width: 700px) {
    .MainHeader {
        font-family: Urbanist;
        font-size: 32px;
        font-weight: 600;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
    }

    .RightContainer {
        display: none;
    }

    .LeftContainer {
        grid-column: span 9 !important;
        padding: 15px;
        width: 345px !important;
        display: flex;
        flex-direction: column;
    }

    .InputContainer {
        width: 309px !important;
    }

    .LoginButton {
        height: 65px;
        padding: 0;
        border-radius: 20px;
        background-color: rgba(26, 26, 26, 1);
    }
}

@media screen and (max-width: 1023px) {
    .RightContainer {
        display: none;
    }

    .InputContainer {
        width: 100% !important;
    }

    .LeftContainer {
        grid-column: span 4 !important;
    }

    .MainContainer {
        grid-template-columns: repeat(6, 1fr) !important;
    }

}